body {
    background-color: #b2ccaf !important;
    margin: 0;
    height: 100vh;
}

.container {
    background-color: transparent ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

